html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*::before,*::after{
	box-sizing: border-box;
}

// General colors being used

$copper: #e29466;
$white: #ffffff;
$grey: #DEE3E9;
$light-green:#72bf9d;
$med-green:#1b6d67;
$dark-green:#091d24;

// General site-wide styles

body{
	padding:0;
	margin:0;
	color: $grey;
	overflow-x:  hidden;
}

h1{
	font-size:3rem;
	color:$med-green;
	font-family: 'Josefin Slab', serif;
}
h2{
	font-size:2rem;
	color:$med-green;
	font-family: 'Josefin Slab', serif;
}
p{
	font-size:1.5rem;
	color:$copper;
	font-family: 'Josefin Sans', sans-serif;
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
.container-fluid{
	padding:0;
}
.row{
	padding: 100px 0 ;
}

// Intro tab

.overlay{
  z-index: 1;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: auto;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.5); /*can be anything, of course*/
	margin:0;	
}
.row-1{
	height:100vh;
	.logo-lg{		
		width:100%;
		text-align: center;
		color:$grey;
		h1,p{
			color:$grey;
		}
	}
	span{
		line-height:80vh;
	}
	.cover{
		width:100%;
	  text-align: center;
	  vertical-align:middle; 
		display:inline-block; 
		h1,p{
			color:$grey;
		}
	}
}

.row-2{
	color:$copper;
	color:$grey;
	background-color:$med-green;
	div{
	  text-align: center;
    h1,p{
    	color:$grey;
    }    
	}
}

.row-3{
	
	
	position:relative;
	
	.cover{
		width:100%;
		text-align: center;
		.row{
			padding:0;
		}
	}
}
#project-time-track{
	background-color: $grey;
	padding: 2rem;
	img{
		height: 100px;
	}
}
#project-ebs{
	background-color: $grey;
	padding: 2rem;
	img{
		height: 100px;
	}
}
#project-the-odin-project{
	background-color: $grey;	
	padding: 2rem;
	img{
		height: 100px;
	}
}

.row-4{	
	position:relative;
	color:$med-green;
	background-color:$light-green;	
	div{
	  text-align: center;
		h1,p{
			color:$grey;
		}
	}
}


.row-5{
	height:20vh;	
	position:relative;
	color:$grey;
	background-color:$med-green;	
	div{
	  text-align: center;
    h1,p{
    	color:$grey;
    }
	}
}


























































































// a {
// 	font-size:1rem;
// 	text-decoration: none;
// 	color:white;
// 	padding: .5rem;
//   display: inline-block;
//   vertical-align: middle;
//   -webkit-transform: perspective(1px) translateZ(0);
//   transform: perspective(1px) translateZ(0);
//   box-shadow: 0 0 1px transparent;
//   position: relative;
//   -webkit-transition-property: color;
//   transition-property: color;
//   -webkit-transition-duration: 0.5s;
//   transition-duration: 0.5s;
// }
// a::before{
//   content: "";
//   position: absolute;
//   z-index: -1;
//   top: 0;
//   left: 0;
//   right: 0;
//   bottom: 0;
//   background: #fff;
//   -webkit-transform: scaleX(0);
//   transform: scaleX(0);
//   -webkit-transform-origin: 0 50%;
//   transform-origin: 0 50%;
//   -webkit-transition-property: transform;
//   transition-property: transform;
//   -webkit-transition-duration: 0.5s;
//   transition-duration: 0.5s;
//   -webkit-transition-timing-function: ease-out;
//   transition-timing-function: ease-out;
// }
// a:hover, a:focus, a:active {
//   color: $med-green;
// }
// a:hover:before, a:focus:before, a:active:before {
//   -webkit-transform: scaleX(1);
//   transform: scaleX(1);
//   -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
//   transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
// }